:root { 
  --color-style: #b59f5b;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "OpenSans", "Arial", sans-serif;  /* указывать для * или body ??? */
}

/* ============================== header ============================== */

/* баннер на всю ширину экрана */
.header {
  position: relative;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #666666;
}

/* добавление маски: */
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__container {
  position: relative;
  z-index: 1;
  width: 1200px;
  margin: 0 auto;
  padding: 24px 15px 125px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid red; */
}

.header__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* для лучшей визуализации границ: */
  /* outline: 2px dashed yellow; */
}

.header__logo-link {
  color: #ffffff;
}

.header__logo-image {
  width: 179px;
}

.menu__list {
  display: flex;
  gap: 35px;
  list-style-type: none;
}

.menu__link {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.menu__link:hover {
  text-decoration: underline;
}

.header__title {
  width: 690px;
  margin: 104px auto 0;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  /* для лучшей визуализации границ: */
  /* outline: 2px dashed yellow; */
}

.page {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 62px 15px 66px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid green; */
}

/* ============================== main ============================== */

.main {
  width: 778px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid blue; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: circle(0);
  overflow: hidden;
} 

.article {
  display: flex;
  align-items: flex-start;

  /* для лучшей визуализации границ: */
  /* outline: 2px dashed purple; */
}

.article:not(:last-child) {
  margin-bottom: 60px;
}

.article__img {
  width: 381px;
  margin-right: 30px;
  background-color: #eff6f1;
}

.article__info {
  width: 367px;
}

.article__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  list-style-type: none;
}

.article__tag-item {
  line-height: 14px;
}

.article__tag-link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-style);
}

.article__tag-link:hover {
  text-decoration: underline;
}

.article__title {
  margin: 10px 0 28px;
  line-height: 24px;
}

.article__title-link {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1px;
  color: #0f0d0e;
}

.article__title-link:hover {
  color: var(--color-style);
}

.article__date-author {
  display: flex;
  margin-bottom: 46px;
  font-size: 12px;
}

.article__date {
  color: #888888;
}

.article__author {
  margin-left: 13px;
  font-weight: 700;
  color: #000000;
}

.article__content {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

.article__content:not(:last-child) {
  margin-bottom: 10px;
}

/* ============================== sidebar ============================== */

.sidebar {
  width: 272px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid blue; */
}

.sidebar__title {
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.sidebar__title_posts {
  margin-bottom: 29px;
}

.sidebar__title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 13px auto 0;
  background-color: rgba(181, 159, 91, 0.4);
}

.posts {
  margin: 0 1px 60px;
}

.post {
  display: flex;
  align-items: flex-start;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.post:not(:last-child) {
  margin-bottom: 22px;
}

.post__img {
  width: 70px;
  margin-right: 19px;
  background-color: #f4f7f6;
}

.post__date {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 9px;
  color: rgba(0, 0, 0, 0.541);
}

.post__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.post__title-link {
  text-decoration: none;
  color: #000000;
}

.post__title-link:hover {
  color: var(--color-style);
}

.search {
  display: flex;
  margin: 0 1px 60px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.search__field {
  width: 222px;
  height: 48px;
  padding: 18px;
  border: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

.search__field:focus {
  border: 1px solid var(--color-style);
  outline: none;
}

.search__button {
  width: 48px;
  height: 48px;
  border: none;
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-color: var(--color-style);
  background-repeat: no-repeat;
  background-position: center center;
}

.search__button:hover {
  background-color: #323232;
  cursor: pointer;
}

.subscribe {
  width: 270px;
  margin: 0 1px 60px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.sidebar__title_subscribe {
  margin-bottom: 23px;
}

.subscribe__field {
  width: 100%;
  height: 48px;
  margin-bottom: 19px;
  padding: 18px;
  border: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

.subscribe__field:focus {
  border: 1px solid var(--color-style);
  outline: none;
}

.subscribe__button {
  width: 100%;
  height: 48px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--color-style);
}

.subscribe__button:hover {
  background-color: #323232;
  cursor: pointer;
}

.tags {
  margin: 0 1px 60px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.sidebar__title_tags {
  margin-bottom: 25px;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 6px;
  list-style-type: none;
}

.tags__item {
  padding: 3px 13px 4px 14px;
  border: 3px solid #eeeeee;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.tags__item:hover {
  border: 3px solid var(--color-style);
}

.tags__link {
  text-decoration: none;
  color: #0f0d0e;
}

.themes {
  margin-right: 1px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.sidebar__title_themes {
  margin-bottom: 24px;
}

.themes__list {
  margin-top: 12px;
  list-style-type: none;
}

.themes__item {
  padding-bottom: 14px;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  font-weight: 700;
}

.themes__item:not(:first-child) {
  padding-top: 13px;
}

.themes__link {
  text-decoration: none;
  color: #000000;
}

.themes__link:hover {
  color: var(--color-style);
}

.themes__score {
  margin-left: 1px;
  font-size: 12px;
  font-weight: 700;
  vertical-align: top;
  color: var(--color-style);
}

/* ============================== footer ============================== */

.footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 40px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid red; */
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 33px;
  margin-bottom: 65px;
  gap: 26px;
  background-color: #f4f7f6;
  list-style-type: none;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.socials__link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.socials__link_dribbble {
  background-image: url("../svg/icon_dribbble.svg");
}

.socials__link_pinterest {
  background-image: url("../svg/icon_pinterest.svg");
}

.socials__link_tumblr {
  background-image: url("../svg/icon_tumblr.svg");
}

.copyrights {
  text-align: center;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.copyrights__link {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #999999;
}
