:root { 
  --color-style: #b59f5b;
}

@font-face {
  font-family: "opensans";
  src: local("opensans"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "opensans";
  src: local("opensans"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* универсальный селектор -> противоречит методологии БЭМ? */
/* надо ли от него избавляться??? */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "opensans", "arial", sans-serif;  /* указывать для * или body ??? */
}

/* ============================== header ============================== */

/* баннер на всю ширину экрана */
.header {
  position: relative;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #666;
}

/* добавление маски: */
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__container {
  position: relative;
  z-index: 1; /*  z-index задаем только контейнеру, а не маске */
  width: 1200px;
  min-height: 450px;
  margin: 0 auto;
  padding: 28px 15px 28px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid red; */
}

.header__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;  /* на случай, если логотип не загрузится */

  /* для лучшей визуализации границ: */
  /* outline: 2px dashed yellow; */
}

.header__logo-link {
  color: #fff;  /* на случай, если логотип не загрузится */
}

.header__logo-image {
  width: 179px;
}

.header__list {
  display: flex;
  gap: 35px;
  list-style-type: none;
}

.header__link {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.header__link:hover {
  text-decoration: underline;
}

.header__title {
  width: 690px;
  margin: 104px auto 0;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  /* для лучшей визуализации границ: */
  /* outline: 2px dashed yellow; */
}

.page {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 62px 15px 66px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid green; */
}

/* ============================== main ============================== */

.page__main-container {
  width: 778px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid blue; */
}

/* доступное скрытие - согласно ТЗ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
/*  clip: rect(0 0 0 0); -> устаревшее свойство! */
  clip-path: circle(0);
  overflow: hidden;
} 

.page__main-article {
  display: flex;
  /* чтобы картинка не растягивалась при добавлении текста: */
  /* align-items: flex-start; */

  /* для лучшей визуализации границ: */
  /* outline: 2px dashed purple; */
}

.page__main-article:not(:last-child) {
  margin-bottom: 60px;
}

.page__main-img {
  width: 381px;
  height: 294px;  /* если картинка не загрузится */
  margin-right: 30px;
  background-color: #eff6f1;
}

.page__main-info {
  width: 367px;
}

.page__main-tag-list {
  display: flex;
  flex-wrap: wrap;  /* разместит теги, если они будут в несколько строк */
  gap: 0 20px;
  list-style-type: none;
}

.page__main-tag-item {
  line-height: 14px;
}

.page__main-tag-link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-style);
}

.page__main-tag-link:hover {
  text-decoration: underline;
}

.page__main-title {
  /* 35px - чтобы заголовок в статье №6 переносился по макету */
  margin: 10px 35px 28px 0;
  line-height: 24px;
}

.page__main-title-link {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1px;
  color: #0f0d0e;
}

.page__main-title-link:hover {
  color: var(--color-style);
}

.page__main-date-author {
  display: flex;
  margin-bottom: 46px;
  font-size: 12px;
}

.page__main-date {
  color: #888;
}

.page__main-author {
  margin-left: 13px;
  font-weight: 700;
  color: #000;
}

.page__main-content {
  min-height: 53px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

/* ============================== sidebar ============================== */

.page__sidebar-container {
  width: 272px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid blue; */
}

.page__sidebar-title {
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

/* модификатор */
.page__sidebar-title_posts {
  margin-bottom: 29px;
}

.page__sidebar-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 13px auto 0;
  background-color: rgba(181, 159, 91, 0.4);
}

.page__sidebar-posts {
  margin: 0 1px 60px;
}

.page__sidebar-post {
  display: flex;
  /* чтобы картинка не растягивалась при добавлении текста: */
  /* align-items: flex-start; */

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.page__sidebar-post:not(:last-child) {
  margin-bottom: 22px;
}

.page__sidebar-post-img {
  width: 70px;
  height: 70px;  /* если картинка не загрузится */
  margin-right: 19px;
  background-color: #f4f7f6;
}

.page__sidebar-post-info {
  width: 181px;
}

.page__sidebar-post-date {
/* дата - это inline, чтобы не было доп.отступа сверху делаем блочным! */
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 9px;
  color: rgba(0, 0, 0, 0.541);
}

.page__sidebar-post-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.page__sidebar-post-title-link {
  text-decoration: none;
  color: #000;
}

.page__sidebar-post-title-link:hover {
  color: var(--color-style);
}

.page__sidebar-search-form {
  display: flex;
  width: 270px;
  height: 48px;
  margin: 0 1px 60px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.page__sidebar-search-field {
  width: 222px;
  height: 48px;
  padding: 18px;
  border: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

.page__sidebar-search-field:focus {
  border: 1px solid var(--color-style);
  outline: none;
}

.page__sidebar-search-button {
  width: 48px;
  height: 48px;
  border: none;
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-color: var(--color-style);
  background-repeat: no-repeat;
  background-position: center center;
}

.page__sidebar-search-button:hover {
  background-color: #323232;
}

.page__sidebar-subscribe {
  width: 270px;
  margin: 0 1px 60px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

/* модификатор */
.page__sidebar-title_subscribe {
  margin-bottom: 23px;
}

.page__sidebar-subscribe-form {
  display: flex;
  flex-direction: column;
}

.page__sidebar-subscribe-field {
  width: 270px;
  height: 48px;
  margin-bottom: 19px;
  padding: 18px;
  border: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

.page__sidebar-subscribe-field:focus {
  border: 1px solid var(--color-style);
  outline: none;
}

.page__sidebar-subscribe-button {
  width: 270px;
  height: 48px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--color-style);
}

.page__sidebar-subscribe-button:hover {
  background-color: #323232;
}

.page__sidebar-tags {
  margin: 0 1px 61px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

/* модификатор */
.page__sidebar-title_tags {
  margin-bottom: 25px;
}

.page__sidebar-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 6px;
  list-style-type: none;
}

.page__sidebar-tag-item {
  padding: 3px 0;
  border: 3px solid #eee;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.page__sidebar-tag-item_fashion {
  width: 86px;
}

.page__sidebar-tag-item_music {
  width: 75px;
}

.page__sidebar-tag-item_lifestyle {
  width: 90px;
}

.page__sidebar-tag-item_art {
  width: 59px;
}

.page__sidebar-tag-item_interior {
  width: 83px;
}

.page__sidebar-tag-item_travel {
  width: 77px;
}

.page__sidebar-tag-item_food {
  width: 65px;
}

.page__sidebar-tag-item_health {
  width: 76px;
}

.page__sidebar-tag-item:hover {
  border: 3px solid var(--color-style);
}

.page__sidebar-tag-link {
  text-decoration: none;
  color: #0f0d0e;
}

.page__sidebar-themes {
  margin-right: 1px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

/* модификатор */
.page__sidebar-title_themes {
  margin-bottom: 24px;
}

.page__sidebar-themes-list {
  margin-top: 12px;
  list-style-type: none;
}

.page__sidebar-themes-item {
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  font-weight: 700;
}

.page__sidebar-themes-item:not(:first-child) {
  padding-top: 13px;
}

.page__sidebar-themes-link {
  text-decoration: none;
  color: #000;
}

.page__sidebar-themes-link:hover {
  color: var(--color-style);
}

.page__sidebar-themes-score {
  margin-left: 6px;
  font-size: 12px;
  font-weight: 700;
  vertical-align: top;
  color: var(--color-style);
}

/* ============================== footer ============================== */

.footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 40px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid red; */
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83px;
  margin-bottom: 67px;
  gap: 26px;
  background-color: #f4f7f6;
  list-style-type: none;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.footer__social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* есть ли аналог alt, если не загрузится фоновое изображение??? */
/* почему нельзя сделать иконки соц.сетей через img??? */
.footer__social-link_dribbble {
  background-image: url("../svg/icon_dribbble.svg");
}

.footer__social-link_pinterest {
  background-image: url("../svg/icon_pinterest.svg");
}

.footer__social-link_tumblr {
  background-image: url("../svg/icon_tumblr.svg");
}

.footer__copyrights {
  text-align: center;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.footer__copyrights-link {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #999;
}
