@font-face {
  font-family: "opensans";
  src: local("opensans"), url("fonts/OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: local("opensans"), url("fonts/OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* универсальный селектор -> противоречит методологии БЭМ! */
/* как от него избавиться??? */
* {
  margin: 0;
  padding: 0;
  font-family: "opensans", "arial", sans-serif;
}

/******************************** блок header ********************************/
/* to do: 
1. убрать обводку */

/* баннер на всю ширину экрана */
.header {
  /*  чтобы маска позиционировалась относительно header: */
  position: relative;

  background-image: url("images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #666;
}

/* добавление маски: */
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.6);
}

.header__container {
  position: relative;
  z-index: 1; /*  z-index задаем только контейнеру, а не маске */

  width: 1200px;
  height: 450px;
  margin: 0 auto;
  padding: 29px 15px 0px;
  box-sizing: border-box;

/*  для лучшей визуализации границ: */
  outline: 2px solid red;
}

.header__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;

/*  для лучшей визуализации границ: */
  outline: 2px dashed yellow;
}

.header__logo-image {
  width: 179px;
}

.header__list {
  display: flex;
  list-style-type: none;
}

/* модификатор: */
.header__item_next {
  margin-left: 36px;
}

.header__link {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.header__link:hover {
  text-decoration: underline;
}

.header__title {
  width: 679px;
  margin: 105px auto 0;

  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

/*  для лучшей визуализации границ: */
  outline: 2px dashed yellow;
}

.page {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 61px 15px 64px;
  box-sizing: border-box;
  
/*  для лучшей визуализации границ: */
  outline: 2px solid green;
}

/******************************** блок main ********************************/
/* to do: 
1. уменьшить марджины - pixel perfect;
2. убрать обводку */

.page__main-container {
  width: 778px;

/*  для лучшей визуализации границ: */
  outline: 2px solid blue;
}

/* доступное скрытие - согласно ТЗ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.page__main-article {
  display: flex;
  min-height: 294px;  /* если картинка не загрузится */

/*  для лучшей визуализации границ: */
  outline: 2px dashed purple;
}

/* модификатор: */
.page__main-article_next {
  margin-top: 60px;
}

.page__main-img {
  width: 381px;
  margin-right: 30px;
  background-color: #eff6f1;
}

.page__main-info {
  width: 367px;
}

.page__main-tag-list {
  display: flex;
  margin-bottom: 10px;
  list-style-type: none;
}

/* модификатор: */
.page__main-tag-item_next {
  margin-left: 20px;
}

.page__main-tag-link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
}

.page__main-tag-link:hover {
  text-decoration: underline;
}

.page__main-title {
  /* чтобы заголовок в статье №6 переносился по макету */
  max-width: 330px;
  margin-bottom: 35px;
}

.page__main-title-link {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
}

.page__main-title-link:hover {
  color: #b59f5b;
}

.page__main-date-author {
  display: flex;
  margin-bottom: 50px;
  font-size: 12px;
}

.page__main-date {
  margin-right: 15px;
  color: #888;
}

.page__main-author {
  font-weight: 700;
  color: #000;
}

.page__main-content {
  min-height: 62px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

/******************************** блок sidebar ********************************/
/* to do: 
1. уменьшить марджины - pixel perfect;
2. убрать обводку */

.page__sidebar-container {
  width: 272px;

/*  для лучшей визуализации границ: */
  outline: 2px solid blue;
}

.page__sidebar-title {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.page__sidebar-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 11px auto 0;
  background-color: rgba(181, 159, 91, 0.4);
}

.page__sidebar-posts {
  margin: 0 1px;
}

.page__sidebar-post {
  display: flex;

/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

/* модификатор: */
.page__sidebar-post_first {
  margin-top: 29px;
}

/* модификатор: */
.page__sidebar-post_next {
  margin-top: 22px;
}

.page__sidebar-post-img {
  width: 70px;
  height: 70px;
  margin-right: 19px;
  background-color: #f4f7f6;
}

.page__sidebar-post-info {
  width: 181px;
}

.page__sidebar-post-date {
/*   дата - это inline, чтобы не было доп.отступа сверху делаем блочным! */
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.541);
}

.page__sidebar-post-title {
  /*  margin-top: 9px;*/ /* - исправить согласно pixel perfect */
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.page__sidebar-post-title-link {
  text-decoration: none;
  color: #000;
}

.page__sidebar-post-title-link:hover {
  color: #b59f5b;
}

.page__sidebar-search-form {
  display: flex;
  width: 270px;
  height: 48px;
  margin: 60px 1px 0;

/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

.page__sidebar-search-field {
  width: 222px;
  height: 48px;
  padding: 19px;
  border: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

.page__sidebar-search-field:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.page__sidebar-search-button {
  width: 48px;
  height: 48px;
  border: none;
  background-image: url("images/search.svg");
  background-size: 18px;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center center;
}

.page__sidebar-search-button:hover {
  background-color: #323232;
}

.page__sidebar-subscribe {
  width: 270px;
  margin: 62px 1px 0; /* - исправить согласно pixel perfect */

/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

.page__sidebar-subscribe-form {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
}

.page__sidebar-subscribe-field {
  width: 270px;
  height: 48px;
  padding: 19px;
  border: none;
  box-sizing: border-box;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

.page__sidebar-subscribe-field:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.page__sidebar-subscribe-button {
  width: 270px;
  height: 48px;
  margin-top: 17px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #b59f5b;
}

.page__sidebar-subscribe-button:hover {
  background-color: #323232;
}

.page__sidebar-tags {
  margin: 61px 1px 0; /* - исправить согласно pixel perfect */

/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

.page__sidebar-tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  list-style-type: none;
}

.page__sidebar-tag-item {
  min-height: 30px;
  margin-right: 5px;
  margin-bottom: 6px;
  padding: 8px 0;
  border: 3px solid #eee;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* модификатор: */
.page__sidebar-tag-item_fashion {
  width: 86px;
}

/* модификатор: */
.page__sidebar-tag-item_music {
  width: 75px;
}

/* модификатор: */
.page__sidebar-tag-item_lifestyle {
  width: 90px;
}

/* модификатор: */
.page__sidebar-tag-item_art {
  width: 59px;
}

/* модификатор: */
.page__sidebar-tag-item_interior {
  width: 83px;
}

/* модификатор: */
.page__sidebar-tag-item_travel {
  width: 77px;
}

/* модификатор: */
.page__sidebar-tag-item_food {
  width: 65px;
}

/* модификатор: */
.page__sidebar-tag-item_health {
  width: 76px;
}

.page__sidebar-tag-item:hover {
  border: 3px solid #b59f5b;
}

.page__sidebar-tag-link {
  text-decoration: none;
  color: #0f0d0e;
}

.page__sidebar-themes {
  margin-top: 61px;
  margin-right: 1px;

/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

.page__sidebar-themes-list {
  margin-top: 28px;
  list-style-type: none;
}

.page__sidebar-themes-item {
  display: block;
  height: 47px;
  padding: 14px 0; /* паддинги на глазок сделаны */
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
}

.page__sidebar-themes-link {
  text-decoration: none;
  color: #000;
}

.page__sidebar-themes-link:hover {
  color: #b59f5b;
}

.page__sidebar-themes-score {
  margin-left: 6px;
  font-size: 12px;
  font-weight: 700;
  vertical-align: top;
  color: #b59f5b;
}

/******************************** блок footer ********************************/
.footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 40px;
  box-sizing: border-box;
  
/*  для лучшей визуализации границ: */
  outline: 2px solid red;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83px;
  gap: 30px;
  background-color: #f4f7f6;
  list-style-type: none;

/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

.footer__social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* что если не загрузится фоновое изображение??? */
/* есть ли аналог alt??? */
/* почему нельзя сделать иконки через img??? */
.footer__social-link_dribbble {
  background-image: url("images/icon_dribbble.svg");
}

.footer__social-link_pinterest {
  background-image: url("images/icon_pinterest.svg");
}

.footer__social-link_tumblr {
  background-image: url("images/icon_tumblr.svg");
}

.footer__copyrights {
  margin-top: 74px;
  text-align: center;

/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

.footer__copyrights-link {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #999;
}
