/* добавляем шрифты (normal и bold) */
@font-face {
  font-family: "opensans";
  src: local("opensans"), url("fonts/OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: local("opensans"), url("fonts/OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* универсальный селектор -> противоречит методологии БЭМ! */
/* как от него избавиться??? */
* {
  margin: 0;
  padding: 0;
  font-family: "opensans", "arial", sans-serif;
}

/******************************** блок header ********************************/
/* to do: 
1. добавить модификаторы классов;
2. убрать обводку */

/* баннер на всю ширину экрана */
.header {
  background-image: url("images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #666666;
/*  чтобы маска позиционировалась относительно header: */
  position: relative;
}

/* добавление маски - с помощью ::after  */
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
}

/* шапка сайта */
.header__container {
  box-sizing: border-box;
  width: 1200px;
  height: 450px;
  padding: 29px 15px 0px;
  margin: 0 auto;
/*  z-index задаем только контейнеру, а не маске */
/*  тогда не надо заморачиваться с остальными z-index-ами! */
  z-index: 1;
  position: relative;
/*  для лучшей визуализации границ: */
  outline: 2px solid red;
}

.header__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
/*  для лучшей визуализации границ: */
  outline: 2px dashed yellow;
}

.header__logo-image {
  width: 179px;
}

.header__list {
  display: flex;
  list-style-type: none;
}

/* по методологии БЭМ лучше использовать доп.модификатор, а не псевдоклассы */
/*.header__item:nth-child(n+2) {*/
/* можно наверно и вовсе не убирать отступ у первого элемента.. */
.header__item {
  margin-left: 36px;
}

.header__link {
  color: #fff;
  font-size: 13px;
/*  font-weight: 400;*/
  text-transform: uppercase;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

.header__title {
  width: 679px;
  margin: 105px auto 0;
  color: #fff;
  font-size: 45px;
/*  font-weight: 700;*/
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
/*  для лучшей визуализации границ: */
  outline: 2px dashed yellow;
}

.page {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 61px 15px 64px;
/*  для лучшей визуализации границ: */
  outline: 2px solid green;
}

/******************************** блок main ********************************/
/* to do: 
1. немного уменьшить нижние марджины;
2. добавить модификаторы классов;
3. убрать обводку */

.page__main-container {
  width: 778px;
/*  для лучшей визуализации границ: */
  outline: 2px solid blue;
}

/* доступное скрытие (согласно ТЗ) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.page__main-article {
  display: flex;
/*  на случай, если картинка не загрузится: */
  min-height: 294px;
/*  для лучшей визуализации границ: */
  outline: 2px dashed purple;
}

/* Вновь не по методологии БЭМ! */
/* лучше дать дополнительный класс, имхо */
.page__main-article:nth-of-type(n+2) {
  margin-top: 60px;
}

.page__main-img {
  width: 381px;
  margin-right: 30px;
  background-color: #eff6f1;
}

.page__main-info {
  width: 367px;
}

.page__main-tag-list {
  list-style-type: none;
  display: flex;
  margin-bottom: 10px;
}

/* Вновь не по методологии БЭМ! */
.page__main-tag-item:nth-child(n+2) {
  margin-left: 20px;
}

.page__main-tag-link {
  text-decoration: none;
  color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.page__main-tag-link:hover {
  text-decoration: underline;
}

.page__main-title {
  /* чтобы заголовок в статье №6 переносился по макету */
  max-width: 330px;
  margin-bottom: 35px;
}

.page__main-title-link {
  text-decoration: none;
  color: #0f0d0e;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
/*  font-weight: 700;*/
}

.page__main-title-link:hover {
  color: #b59f5b;
}

.page__main-date-author {
  display: flex;
  font-size: 12px;
  margin-bottom: 50px;
}

.page__main-date {
  margin-right: 15px;
  color: #888888;
/*  font-weight: 400;*/
}

.page__main-author {
  color: #000000;
  font-weight: 700;
}

.page__main-content {
  min-height: 62px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

/******************************** блок sidebar ********************************/
/* to do: 
1. подумать надо ли убирать нижние марджины у тегов;
2. убрать обводку */

.page__sidebar-container {
  width: 272px;
  /*  для лучшей визуализации границ: */
  outline: 2px solid blue;
}

.page__sidebar-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
/*  font-weight: 700;*/
  text-align: center;
}

.page__sidebar-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
/*  margin: 14px auto 0;*/
  margin: 11px auto 0;
  background-color: #b59f5b;
  opacity: 0.4;
}

.page__sidebar-posts {
  margin: 0 1px;
}

.page__sidebar-post {
  display: flex;
/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

/* противоречит методологии БЭМ! */
.page__sidebar-post:nth-of-type(n+2) {
  margin-top: 22px;
}

/* модификатор: */
.page__sidebar-post_first {
  margin-top: 29px;
}

.page__sidebar-post-img {
  width: 70px;
  height: 70px;
  background-color: #f4f7f6;
  margin-right: 19px;
}

.page__sidebar-post-info {
  width: 181px;
}

.page__sidebar-post-date {
/*   дата - это inline, чтобы не было доп.отступа сверху делаем блочным! */
  display: block;
  font-size: 12px;
  color: #000000;
  opacity: 0.541;
/*  font-weight: 400;*/
}

.page__sidebar-post-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
/*  font-weight: 700;*/
/*  margin-top: 9px;*/
}

.page__sidebar-post-title-link {
  color: #000000;
  text-decoration: none;
}

.page__sidebar-post-title-link:hover {
  color: #b59f5b;
}

/*  поисковая форма  */
.page__sidebar-search-form {
  display: flex;
  width: 270px;
  height: 48px;
  margin: 60px 1px 0;
/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

.page__sidebar-search-field {
  height: 48px;
  width: 222px;
  padding: 19px;
  border: none;
  background-color: #f4f7f6;
  opacity: 0.541;
  font-size: 13px;
  color: #000000;
}

.page__sidebar-search-field:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.page__sidebar-search-button {
  height: 48px;
  width: 48px;
  background-color: #b59f5b;
  border: none;

  background-image: url("images/search.svg");
  background-size: 18px;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center center;
}

.page__sidebar-search-button:hover {
  background-color: #323232;
}

.page__sidebar-subscribe {
  width: 270px;
  margin: 62px 1px 0;  /* реально - меньше! */
/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

.page__sidebar-subscribe-form {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
}

.page__sidebar-subscribe-field {
  box-sizing: border-box;
  height: 48px;
  width: 270px;
  padding: 19px;
  border: none;

  background-color: #f4f7f6;
  font-size: 13px;
  color: #000000;
  opacity: 0.541;
}

.page__sidebar-subscribe-field:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.page__sidebar-subscribe-button {
  height: 48px;
  width: 270px;
  border: none;
  margin-top: 17px;

  background-color: #b59f5b;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.page__sidebar-subscribe-button:hover {
  background-color: #323232;
}

.page__sidebar-tags {
  margin: 61px 1px 0;  /* реально - меньше! */
/*  для лучшей визуализации границ: */
  outline: 1px dashed purple;
}

.page__sidebar-tag-list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
  margin-top: 24px;
}

.page__sidebar-tag-item {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
/*  background-color: rgba(244, 243, 241, 0);*/
  text-align: center;
/*  vertical-align: middle;*/
  
  box-sizing: border-box;
  min-height: 30px;
  border: 3px solid #eeeeee;
  padding: 8px 0;
  margin-right: 5px;
  margin-bottom: 6px;
}

.page__sidebar-tag-item_fashion {
  width: 86px;
}

.page__sidebar-tag-item_music {
  width: 75px;
}

.page__sidebar-tag-item_lifestyle {
  width: 90px;
}

.page__sidebar-tag-item_art {
  width: 59px;
}

.page__sidebar-tag-item_interior {
  width: 83px;
}

.page__sidebar-tag-item_travel {
  width: 77px;
}

.page__sidebar-tag-item_food {
  width: 65px;
}

.page__sidebar-tag-item_health {
  width: 76px;
}

.page__sidebar-tag-item:hover {
  border: 3px solid #b59f5b;
}

.page__sidebar-tag-link {
  text-decoration: none;
  color: #0f0d0e;
}




