/* баннер на всю ширину экрана */
.header {
  position: relative;
  background-image: url("../../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #666666;
}

/* маска: */
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
